* {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* caret-color: transparent; */
}

.bookshelf_page_outer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /*julie footer code*/
    min-height: 100%;
}

.julie_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /*julie footer code*/
    padding-bottom: 400px;
    overflow: auto;
}

.bookshelf_page_inner1 {
    background-color: white;
    width: 210px;
    margin-left: 20px;
}

.bookshelf_page_inner2 {
    height: 400px;
    width: 700px;
    /* border: solid black 1px; */
    display: flex;
    margin-left: 30px;
    flex-wrap: wrap;

}

.bookshelf_page_editInner2 {
    height: 400px;
    width: 700px;
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}



.bookshelf_page_title {
    font-size: 22px;
    color: #00635d;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.3);
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    /* needs to track width and margins of inner2 and inner1 */
    width: 940px;
    margin-left: 20px;
}

.bookshelf_page_shelfName {
    margin-top: 5px;
    margin-bottom: 5px;
    caret-color: transparent;
}

.bookshelf_page_customArr {
    padding-top: 7px;
    /* background-color: aqua; */
}

.bookshelf_page_defaultArr {
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.3);
}

.bookshelf_page_shelfNameAll {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    width: fit-content;
}

.bookshelf_page_shelfNameDec {

    color: #00635d;
    cursor: pointer;
    width: fit-content;
}

.bookshelf_page_shelfNameDec:hover,
.bookshelf_page_shelfNameAll:hover,
.bookshelf_page_subEdit:hover {

    text-decoration: underline;
}

.bookshelf_page_subTitleOuter {
    display: flex;

}

.bookshelf_page_subTitle {
    margin-right: 3px;
    font-weight: 600;
}

.bookshelf_page_subEdit {
    font-size: 12px;
    align-self: center;
    margin-top: 2px;
    color: #00635d;
    font-weight: bold;
    cursor: pointer;
}

.bookshelf_page_imageEdit {
    margin-left: 10px;
    caret-color: transparent;
    background-color: #F4F1EA;
    height: 10px;
    font-size: small;
    text-align: center;
    width: 30px;
    padding: 3px 3px 8px 3px;
    border: 1px solid rgba(170, 170, 170, 0.3);
    border-radius: 5px;
    cursor: pointer;
    /* position: fixed; */
    color: rgba(0, 0, 0, 0.7);

}

.bookshelf_page_img {
    object-fit: cover;
    margin: 10px;
    /* max-width: 100%;
    max-height: 100%; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
    width: 106.64px;
    height: 170px;

    /* width: 100%;
    height: 100%; */

}

.bookshelf_page_outerImage {
    height: fit-content;
    transition: 0.3s;
    /* margin-bottom: 30px; */
    /* width: 178px; */

}



.bookshelf_page_img:hover {
    height: 220px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
    width: 125px;
}

.bookshelf_page_addShelfButton {

    background-color: #F4F1EA;
    height: 23px;
    font-size: small;
    text-align: center;
    width: 80px;
    padding-top: 5px;
    border: 1px solid rgba(170, 170, 170, 0.3);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.bookshelf_page_addShelfButton:hover,
.bookshelf_page_submitShelfButton:hover,
.bookshelf_page_editDone:hover,
.bookshelf_page_XRenameShelf:hover,
.bookshelf_page_submitRenameShelfButton:hover,
.bookshelf_page_imageEdit:hover {
    background-color: #e7e5e1;
}

#addShelfName {
    caret-color: black;
    width: 100px;
    border: 1px solid rgba(170, 170, 170, 0.5);
    border-radius: 5px;
    height: 18px;
    margin: 0px;

}

#addShelfName:hover {
    background-color: white;

}

.bookshelf_page_addShelfForm {
    display: flex;
    margin-top: 20px;
}

.bookshelf_page_addShelfFormTitle {
    font-weight: bold;
}

.bookshelf_page_submitShelfButton {
    height: 23px;
    align-self: flex-end;
    background-color: #F4F1EA;
    border: 1px solid rgba(170, 170, 170, 0.3);
    border-radius: 5px;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.7);
    width: 40px;
    padding: 3px;
    cursor: pointer;
}

.bookshelf_page_XaddShelf {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    align-self: flex-end;
    margin-left: 5px;
    margin-bottom: 2px;
    font-weight: bold;
}

.bookshelf_page_editShelfName {
    margin-top: 10px;
    margin-left: 25px;
    color: #00635d;
}

.bookshelf_page_editWrap {
    display: flex;
    border-bottom: 1px solid rgba(170, 170, 170, 0.3);
    padding: 2px 5px 10px 5px;
    height: 29px;

}

.bookshelf_page_delete {

    color: rgba(210, 46, 46, 0.8);
    font-weight: bolder;
    cursor: pointer;
    margin-top: 8px;
    align-self: center;
    font-size: 19px;
    transition: transform 0.1s ease-out;
}

.bookshelf_page_delete:hover {
    animation-name: wiggle;
    animation-duration: .2s;
    color: rgb(163, 1, 1);

}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(10deg);
    }

    30% {
        transform: rotate(20deg);
    }

    45% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    90% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.bookshelf_page_editRename {
    align-self: flex-end;
    margin-left: 15px;
    cursor: pointer;
    font-size: 12px;
    color: #00635d;
}

.bookshelf_page_editRename:hover {
    text-decoration: underline;
}

.bookshelf_page_editDone {
    background-color: #F4F1EA;
    height: 23px;
    font-size: small;
    text-align: center;
    width: 80px;
    padding-top: 5px;
    border: 1px solid rgba(170, 170, 170, 0.3);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.7);
    align-self: flex-end;
}


.bookshelf_page_noMatch {
    color: rgba(0, 0, 0, 0.5);
    font-size: large;
    margin-left: 200px;
}

.bookshelf_page_renameShelfForm {
    display: flex;
}

#renameShelfName {
    caret-color: black;
    width: 100px;
    border: 1px solid rgba(170, 170, 170, 0.5);
    border-radius: 5px;
    height: 22px;
    margin-left: 25px;
    margin-bottom: 0px;
    margin-top: 6px;
    color: rgba(0, 0, 0, 0.8);

}

#renameShelfName:hover {
    background-color: white;
}

.bookshelf_page_submitRenameShelfButton {
    background-color: #F4F1EA;
    height: 10px;
    font-size: small;
    text-align: center;
    width: 80px;
    padding-top: 5px;
    border: 1px solid rgba(170, 170, 170, 0.3);
    border-radius: 5px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 19px;
    margin-top: 6px;
    margin-left: 10px;
}

.bookshelf_page_XRenameShelf {
    background-color: #F4F1EA;
    height: 10px;
    font-size: small;
    text-align: center;
    width: 80px;
    padding-top: 5px;
    border: 1px solid rgba(170, 170, 170, 0.3);
    border-radius: 5px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 9px;
    margin-top: 6px;
    margin-left: 10px;
}

/* not working with wrap changes - just leaving to fix if we want */
@keyframes example {
    0% {
        height: 0%;
    }

    5% {
        height: 5%;
    }

    10% {
        height: 10%;
    }

    15% {
        height: 15%;
    }

    20% {
        height: 20%;
    }

    25% {
        height: 25%;
    }

    30% {
        height: 30%;
    }

    35% {
        height: 35%;
    }

    40% {
        height: 40%;
    }

    45% {
        height: 45%;
    }

    50% {
        height: 50%;
    }

    55% {
        height: 55%;
    }

    60% {
        height: 60%;
    }

    65% {
        height: 65%;
    }

    70% {
        height: 70%;
    }

    75% {
        height: 75%;
    }

    80% {
        height: 80%;
    }

    85% {
        height: 85%;
    }

    90% {
        height: 90%;
    }

    95% {
        height: 95%;
    }

    100% {
        height: 100%;
    }

    /* 0% {height: 20px;}
    0% {height: 20px;}
    0% {height: 20px;} */

}

.bookshelf_page_bookEditForm {
    height: fit-content;
    overflow: hidden;
    animation-name: example;
    animation-duration: 0.3s;

    background-color: rgba(244, 241, 234, 1);
    padding: 8px;
    border: 1px solid rgba(170, 170, 170, 0.3);
    border-radius: 5px;
    position: relative;
    margin-top: 0px;
    margin-left: 10px;
    width: 178px;
}

.bookshelf_page_bookLabel {
    color: #00635d;
    padding: 5px;
}

.bookshelf_page_bookInputWrapDiv {
    margin-top: 3px;
    margin-bottom: 3px;
}

.bookshelf_page_bookSave {
    background-color: #00635d;
    height: 10px;
    font-size: small;
    font-weight: bolder;
    text-align: center;
    width: 80px;
    padding-top: 5px;
    border: 1px solid rgba(170, 170, 170, 1);
    border-radius: 5px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 19px;
    margin-top: 6px;
    margin-left: 3px;
}

.bookshelf_page_bookSave:hover {
    background-color: #558482;
}

.bookshelf_page_bookEditStatus {
    margin-top: 10px;
    padding-left: 5px;
    font-weight: bolder;
    border-bottom: 1px solid rgba(170, 170, 170, 1);
    color: #00635d;
    padding-bottom: 3px;
    margin-bottom: 9px;
}

.bookshelf_page_bookEditShelves {
    margin-top: 2px;
    padding-left: 5px;
    font-weight: bolder;
    border-bottom: 1px solid rgba(170, 170, 170, 1);
    color: #00635d;
    padding-bottom: 3px;
    margin-bottom: 9px;
}

/* .bookshelf_page_bookRadio,
.bookshelf_page_bookCheck {
    height: 13px;
    width: 13px;


    border: 1px solid #34495E;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    color: #00635d;
    background-color: #00635d;
} */

.ben_merge_bookDiv_left {
    width: 200px;
    height: fit-content;
}

.ben_bookWrap_bookId {
    height: 30px;
}

.ben_underline {
    font-weight: bold;
    text-decoration: underline;
}

.ben_overFlow_review {
    overflow-wrap: break-word;
    /* width: fit-content;
    height: fit-content; */
    inline-size: 450px;
}


/*julie footer code*/
.bookshelves-page-footer {
    background-color: #f9f8f4;
    height: 250px;
    position: relative;
    clear: both;
}

.bookshelves-page-footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-left: 20%; */
    padding: 15px 0px;
}

.bookshelves-page-footer-heading {
    color: #767676;
    margin-right: 50px;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 32px;
}

.bookshelves-page-footer-column-1,
.bookshelves-page-footer-column-2,
.bookshelves-page-footer-column-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}


.bookshelves-page-column-1-goodreads,
.bookshelves-page-column-2-name,
.bookshelves-page-column-3-github {
    font-size: 14px;
    color: #382110;
    text-decoration: none;
    padding-bottom: 8px;
}

a:hover {
    text-decoration: underline;
}
