.navBarMainDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    z-index: 101;
}

.navBarContainer {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.navBarRight,
.navBarLeft {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.navBarLinksContainer,
.navBarLinksContainer {
    height: 100%;
}

.navBarLogo {
    object-fit: fit;
    max-height: 150px;
    max-width: 150px;
    padding-right: 5px;
}

.navBarDropDownMenu {
    cursor: pointer;
}

.navBarRightMenu {
    position: relative;
}

.navBarDropDownContainer {
    width: 200px;
    height: 200px;
    border: 1px black solid;
    background-color: white;
    margin-top: 0.5rem;
    margin-left:-5rem;
    position: absolute;
    right: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.logOutButton {
    cursor: pointer;
    width: 100%;
    height: 20%;
    background-color: white;
    border: none;
}





