
/* main navigation bar */
.navBarMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95px;
    width: 100%;
    position: sticky;
    top: 0;
    align-items: center;
    border-bottom: 01px solid #F4F1EA;
    z-index: 100;
    background: #F4F1EA;
    box-shadow: 0 0.5px 0.5px rgb(0 0 0 / 15%);
}

/* welcome user banner */
.navBarHeader {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    background-color: #ED7553;
}

.navBarHeader img{
    padding-top: 8px;
    align-content: center;
    margin-right: 5px;
}

.navBarHeader h2 {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.navBarContainer {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    justify-content: space-between;
    align-items: center;

}

.navBarRight {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.navBarLeft {
    display: flex;
    width: 900px;
    margin-left: 20%;
    align-items: center;
    height: auto;
}


/* badreads logo */
.navBarLogo {
    object-fit: fill;
    height: 45px;
    margin: 0 20px 0 10px;
    width: 140px;
    display: inline-block;
}

/* left side nav bar */
/* home and my books link */
.navBarLinksContainer {
    padding: 18px 5px 9px 5px;
    color: #382110;
    text-decoration: none;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 28px;
}

.navBarLinksContainer:hover {
    background-color: #382110;
    color:#FFFFFF;
}


/* drop down menu */
.navBarDropDownMenu {
    cursor: pointer;
    display: inline-block;
    position: sticky;
    width: 40px;
    height: 40px;
    margin: 8px 10px;
    border-radius: 20px;
    border: none;
    background-color: #BAAF9C;
}

/* profile butter user first intial */
.usernameLetter{
    color: #F3F1EA;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;

}

.navBarDropDownMenu:hover {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
}

.navBarRightMenu {
    position: relative;
    display: flex;
    flex-direction: row;
}

.navBarBookhelfIcon {
    cursor: pointer;
    padding: 8px 5px 0px 5px;
}

.navbarHoverSquare:hover {
    background-color: #382110;

}

.navBarDropDownContainer {
    width: 170px;
    height: auto;
    background-color: #FFFFFF;
    position: absolute;
    top: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
}


.navBarDMenuName {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding-top: 15px;
    margin-left: 15px;
    padding-bottom: 15px;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.navBarBookshelveLink {
    margin-top: 10px;
}

.navBarDMenuText {
    cursor: pointer;
    font-size: 16px;
    margin-left: 15px;
    padding: 15px 0 15px 0;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.navBarDMenuText:hover {
    text-decoration:underline;
}

.logOutButton {
    cursor: pointer;
    text-align: start;
    background-color: #FFFFFF;
    border: none;
    font-size: 16px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: 400;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.logOutButton:hover {
    text-decoration:underline;
}

.dDownMenuLine {
    margin-top: 10px;
    border-top: 0.5px #c6c6c6 solid;
    width: 100%;

}
