@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&family=Merriweather:wght@300;400;700;900&display=swap');

/* FONTS */
.alex_review_page_title {
    font-weight: 900;
    font-size: 24px;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    color: #333333
}

.alex_merriweather_300 {
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-weight: 300px;
    color: #181818
}

.alex_font_16 {
    font-size: 16px;
}

.alex_font_15 {
    font-size: 15px;
}

.alex_font_14 {
    font-size: 14px;
}

.alex_font_red {
    color: red;
}

.alex_font_green {
    color: #00635D;
}

.alex_font_black {
    color: black
}

.alex_bold {
    font-weight: bold;
}

.alex_text_deco_none {
    text-decoration: none;
}

.alex_background_aqua {
    background-color: aqua;
}

/* DISPLAYS */

.alex_flex_row {
    display: flex;
    flex-direction: row;
}


.alex_flex_column {
    display: flex;
    flex-direction: column;
}

/* ALIGNMENT */

.alex_justify_around {
    justify-content: space-around;
}

.alex_justify_between {
    justify-content: space-between;
}

.alex_justify_center {
    justify-content: center;
}

.alex_align_center {
    align-items: center;
}


/* SPACING */

.alex_height_520 {
    height: 520px;
}

.alex_height_125 {
    height: 125px;
}

.alex_width_650 {
    width: 650px;
}

.alex_width_450 {
    width: 450px;
}

.alex_row_gap_10 {
    row-gap: 10px;
}

.alex_margin_remove {
    margin: none;
}

.alex_margin_right_20 {
    margin-right: 20px;
}

.alex_margin_right_10 {
    margin-right: 10px;
}

.alex_margin_right_3 {
    margin-right: 5px;
}

.alex_pad_bottom_10 {
    padding-bottom: 10px;
}

.alex_pad_top_35 {
    padding-top: 35px;
}

.alex_pad_top_10 {
    padding-top: 35px;
}

.alex_pad_bottom_5 {
    padding-bottom: 5px;
}

.alex_pad_bottom_3 {
    padding-bottom: 3px;
}

.alex_border_bottom {
    border-bottom: 1px solid #D6D0C4;
}

.alex_border_bottom_grey {
    border-bottom: 1px solid #e4e1e1;
}

/* CREATE Review Page */

.alex_text_area {
    border: #F4F1EA;
}

.alex_review_form_input:focus {
    outline: none;
    border: 1px solid #d0ba94;
    box-shadow: 0 0 3px rgb(0 0 0 / 15%);
    color: #181818;
}

/*  BUTTONS AND IMAGES */

.alex_input_borders {
    border: 1px solid #D6D0C4;
}

.alex_gr-button:hover {
    background-color: #e7e5e1;
}

.alex-image-size {
    width: 145.5px;
    height: 200px;
}

.alex-404-image {
    width: 50%;
    border-radius: 12px;


}

.alex-image-fill {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.alex_bookshelf_div {
    height: 32px;
}

#alex_bookshelf_button:hover {
    background-color: #e7e5e1;
}

.alex_gr-button {
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #333333;
    background-color: #F4F1EA;
    line-height: 1;
    padding: 8px 12px;
    height: 32px;
    width: 122px;
}

#alex_bookshelf_button {
    height: 30px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #333333;
    background-color: #F4F1EA;
    line-height: 1;
    padding: 5px 12px;
}

.alex_gr-button-disabled {
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    text-decoration: none;
    color: #A9A9A9;
    background-color: #F4F1EA;
    line-height: 1;
    padding: 8px 12px;
    height: 32px;
    width: 122px;
}

/* julie footer code */
.julie_outer_div {
    padding-bottom: 300px;
    overflow: auto;
}

.julie_outer_div_404 {
    padding-bottom: 300px;
    overflow: auto;
}

.julie_inner_container {
    min-height: 100%;
}

.single-book-page-footer {
    background-color: #f9f8f4;
    height: 250px;
    position: relative;
    clear: both;
}

.single-book-page-footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-left: 20%; */
    padding: 15px 0px;
}

.single-book-page-footer-heading {
    color: #767676;
    margin-right: 50px;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 32px;
}

.single-book-page-footer-column-1,
.single-book-page-footer-column-2,
.single-book-page-footer-column-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}


.single-book-page-column-1-goodreads,
.single-book-page-column-2-name,
.single-book-page-column-3-github {
    font-size: 14px;
    color: #382110;
    text-decoration: none;
    padding-bottom: 8px;
}

a:hover {
    text-decoration: underline;
}
