body {
    margin: 0 auto;
}



/* badreads logo */
.splashLogo {
    position: absolute;
    z-index: 2;
    height: 65px;
    object-fit: fill;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
}

/* books background image  */
div.splashPageImg {
    height: 370px;
    border: 0;
    background-position: center;
    background-image: url("../../images/splashpagebooks.jpg");
    background-repeat: repeat-x;
    position: static;
    background-color: #f4f2e9;
    border-bottom: solid #f4f2e9 15px;
}

/* slogan and form container */
.splashCenterDiv {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:960px;
    justify-content: space-between;
 }

/* meet the collection text */
.splashPageSlogan {
    position: absolute;
    height: 150px;
    top: 7rem;
    padding-left: 6em;
    display: block;
    z-index: 0;
}

/* log in and sign up form  */
.splashContainer {
    margin: -290px 20px 0 0;
}

.splashFormContainer {
    float: right;
    position: relative;
    margin: 25px 20px 0 0;
    display: block;
    padding: 24px;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    width: 260px;
    height: auto;
    background-color: #FFFFFF;
}

/* discover & read more text */
.splashFormHeader {
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    display: flex;
    color: #000;
    justify-content: center;
    padding-top:5px;
    font-size: 19px;
}

/* sign up and log in form container */
.loginForm,
.signUpForm {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* create account text */
.createAccount {
    color: #000;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
}

/* log in form container */
.loginForm {
    margin: 5px;
    padding-top: 8px;
}

/* form individual inputs */
.formFieldInput input {
    background-color: #fafafa;
    outline: 0;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    box-shadow: none;
    width: 300px;
    border-radius: 24px;
    margin: 6px 0 6px 0 ;
    padding: 0.4em 0.8em;
    line-height: 18px;
}

.formFieldInput input:hover {
    background-color: rgba(135, 135, 135, 0.214);
}

/* log in and create account button */
.splashSubmitButton {
    background-color: #000;
    border: none;
    color: #FFFFFF;
    width: 250px;
    height: 32px;
    cursor: pointer;
    position: relative;
    border-radius: 24px;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px
}

/* form individual inputs container */
.formFieldInput {
    position: relative;
    display: flex;
    align-items: center;
}

/* form input placeholder */
.formText {
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

 /* alert icon */
.alertIcon {
    display: inline-block;
    background-image: url(https://images.gr-assets.com/misc/1645592390-1645592390_goodreads_misc.svg);
    background-size: 100%;
    height: 12px;
    width: 12px;
}

/* alert text */
.alertIconText {
    display: inline-block;
    padding-left: 5px;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: grey;
    height: 12px;
    padding-bottom: 12px;
}

.formFieldInput input {
    cursor: pointer;
    font-size: 15px;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}


/* log in and sign ip link button */
/* already a member? log in container */
.switchFormButton {
    cursor: pointer;
    border: none;
    background-color:transparent;
    font-size: 16px;
    color: #00635D;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.switchFormButton:hover {
    text-decoration: underline;
}

/* not a member? sign up container */
.switchFormText {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 5px;
    border-top: 1px solid #D8D8D8;
    padding: 20px;
    display: inline-block;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.splashLogInDiv {
    display: flex;
    justify-content: center;
}

/* .switchFormText {
    display: inline-block;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
} */

.loginErrors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 24px;
    background-color: #FFF5F3;
    border-radius: 16px;
    line-height: 30px;
    font-size: 15px;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}





/* left side bottom half */
.splashMiddleDiv {
    float: right;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 18rem;
    margin-right: 2em;
    padding-bottom: 50em;
    width: 35rem;
    height: 1000;
}

.splashMiddleLeft {
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #382110;
    width: 260px;;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 35px;
}

.splashMiddleRight {
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #382110;
    width: 260px;
    font-size: 14px;
}

.splashMiddleLeft h2 {
    color: #382110;
    font-size: 16px;
}
.splashMiddleRight h2 {
    color: #382110;
    font-size: 16px;
}

.splashMiddleContainer {
    position: absolute;
    width: 100%;
    margin-top: 10em;
    margin-left: 1em;
    border-radius: 10px;
    background-color: #f4f2e9;
    padding: 10px 0px 30px 0px;
}

.splashMiddleContainer h2 {
    color: #382110;
    font-size: 18px;
    padding-left: 20px;
}

.splashMiddleContainer p {
    color: #382110;
    font-size: 15px;
    padding-left: 20px;
}

.splashMiddleRow {
    width: 100%;
    height: 6em;
    border-bottom: 40px solid;
    border-image: linear-gradient(0deg, #DDDAC4, #C2BFAA) 100 ;
}

.splashBook {
    width: 80px;
}

img.splashBook {
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, 0.5)));
}

/* links to our social account */
.socialLinks {
    cursor: pointer;
    display: inline-block;
}

.splashMiddleContainer hr {
    margin: 0;
    border: 1px solid #CCC9B5;
}

/* footer */
.footerMainDiv {
    position: static;
    bottom: 0;
    top: 0;
    margin-top: 100px;
    background-color: #f9f8f4;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 32px;
}

.footerContainerDiv {
    display: flex;
    justify-content:center;
    flex-direction: row;
    margin: auto;
    width: 960px;
    height: auto;
}

.footerColumnTitle{
    display: block;
    color: #767676;
    margin-right: 50px;
    font-size: 14px;
    padding-bottom: 5px;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.footerColumn {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;

}

.footerColumn a {
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #382110;
    text-decoration: none;
    padding-bottom: 8px;
}

.footerColumn a:hover {
    text-decoration: underline;
    color: #382110;
}

.footerBookID {
    bottom: 0;
    position: absolute;
    width: 100%;
}


/* .footerUserBooks {
    bottom: 0;
    position: sticky;
    width: 100%;
} */

.textError {
    text-align: left;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 12px;
    padding-bottom: 14px;
    line-height: 16px;
}

.signUpErrors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 24px;
    background-color: #FFF5F3;
    border-radius: 16px;
    font-size: 15px;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
