.my-books-page-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.my-books-page-container {
  margin-top: 20px;
  max-width: 970px;
  overflow: auto;
  padding-bottom: 100px;
}

.my-books-page-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.my-books-page-title {
  font-size: 22px;
  color: #00635d;
  font-weight: 600;
  padding-bottom: 10px;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  width: 940px;
}

.my-books-page-create-button-container {
  margin-right: 50px;
}

.my-books-page-separator {
  border-bottom: 1px solid rgba(170, 170, 170, 0.3);
  width: 922px;
}

.my-books-page-books-item-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 10px;
}

.my-books-page-book-item {
  width: 15%;
}

.my-books-page-book-cover {
  margin: 5px 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.my-books-page-book-cover:hover {
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
}

.my-books-page-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.my-books-page-edit-button-container:hover,
.my-books-page-delete-button-container:hover {
  background-color: #ede6d6;
  font-weight: bold;

}

.my-books-page-books-item-empty-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 300px;
  min-height: 100%;
  overflow: auto;
}

.my-books-page-empty-container-message {
  font-size: 26px;
  font-weight:  600;
  width: 470px;
  color: #333333;
}

.my-books-page-footer {
  background-color: #f9f8f4;
  height: 400px;
  position: relative;
  clear: both;
}

.my-books-page-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-left: 20%; */
  padding-top: 15px;
  min-height: 100%;
}

.my-books-page-footer-404 {
  background-color: #f9f8f4;
  height: 250px;
  position: relative;
  clear: both;
}

.my-books-page-footer-container-404 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20%;
  padding-bottom: 15px 0px;
}

.my-books-page-footer-heading {
  color: #767676;
  margin-right: 50px;
  font-size: 14px;
  padding-bottom: 5px;
  padding-top: 32px;
}

.my-books-page-footer-column-1,
.my-books-page-footer-column-2,
.my-books-page-footer-column-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}


.my-books-page-column-1-goodreads,
.my-books-page-column-2-name,
.my-books-page-column-3-github {
  font-size: 14px;
  color: #382110;
  text-decoration: none;
  padding-bottom: 8px;
}

a:hover {
  text-decoration: underline;
}
