.my-books-page-outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-books-page-container {
  margin-top: 20px;
  max-width: 970px;
  /* border: 1px solid black; */
}

.my-books-page-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.my-books-page-title {
  font-size: 22px;
  color: #00635d;
  font-weight: 600;
  padding-bottom: 10px;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  width: 940px;
  /* align-self: baseline; */
}

.my-books-page-separator {
  border-bottom: 1px solid rgba(170, 170, 170, 0.3);
  width: 100%;
}

.my-books-page-books-table {
  width: 100%;
  border-spacing: 0;
}

th {
  height: 40px;
  font-size: 12px;
  color: #382110;
  text-align: left;
  border-bottom: 2px solid #EBE8D5;
  vertical-align: bottom;
}

.my-books-page-book-cover {
  margin: 5px 0px;
  height: 100%;
  width: 100%;
}

.my-books-page-book-cover:hover {
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
}

.my-books-page-edit-button-container:hover,
.my-books-page-delete-button-container:hover {
  background-color: #ede6d6;
  font-weight: bold;
}
