.my-books-page-outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-books-page-container {
  margin-top: 20px;
  max-width: 970px;
  /* border: 1px solid black; */
}

.my-books-page-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.my-books-page-title {
  font-size: 22px;
  color: #00635d;
  font-weight: 600;
  padding-bottom: 10px;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  width: 940px;
  /* align-self: baseline; */
}

.my-books-page-create-button-container {
  margin-right: 50px;
}

.my-books-page-separator {
  border-bottom: 1px solid rgba(170, 170, 170, 0.3);
  width: 922px;
}

.my-books-page-books-item-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  /* justify-content: space-around; */
  gap: 10px;
}

.my-books-page-book-item {
  width: 15%;
}

.my-books-page-book-cover {
  margin: 5px 0px;
  height: 100%;
  width: 100%;
}

.my-books-page-book-cover:hover {
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
}

.my-books-page-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.my-books-page-edit-button-container:hover,
.my-books-page-delete-button-container:hover {
  background-color: #ede6d6;
  font-weight: bold;

}

