.delete-book-button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: small;
  justify-content: center;
  color: rgba(0, 0, 0, 0.7);
  padding: 3px;
  border: 1px solid rgba(170, 170, 170, 0.3);
  border-radius: 5px;
  background-color: #F4F1EA;
  cursor: pointer;
  width: 60px;
  height: 23px;
}

.delete-book-button:hover {
  background-color: #ede6d6;
  font-weight: bold;
}

.delete-book-form {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  position: relative;
}

.delete-book-form-title {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  /* padding-bottom: 20px; */
}

.delete-book-modal-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  position: relative;
  border-radius: 20px;
}

.delete-book-form-delete-button,
.delete-book-form-cancel-button {
  text-align: center;
  font-size: small;
  color: rgba(0, 0, 0, 0.7);
  margin: 5px;
  border: 1px solid rgba(170, 170, 170, 0.3);
  border-radius: 5px;
  background-color: #F4F1EA;
  cursor: pointer;
  width: 100px;
  height: 23px;
}

.delete-book-form-delete-button:hover,
.delete-book-form-cancel-button:hover {
  background-color: #ede6d6;
  font-weight: bold;
}
