.edit-book-button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: small;
  justify-content: center;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(170, 170, 170, 0.3);
  border-radius: 5px;
  background-color: #F4F1EA;
  cursor: pointer;
  width: 80px;
  height: 23px;
}

.edit-book-button:hover {
  background-color: rgba(39, 28, 20, 0.75);
}

.edit-book-form {
  display: flex;
  overflow: auto;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  font-size: 14px;
  color: #181818;
  /* position: relative; */
}

.edit-book-form-title {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  /* text-align: center; */
  /* padding-bottom: 20px; */
}

.edit-book-form-errors-container {
  padding: 10px 0px;
  color: red;
}

.edit-book-form-label {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
  margin-top: 6px;
}

.edit-book-form-input {
  min-width: 300px;
  width: 800px;
  height: 30px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: 1px solid #DCD6CC;
  padding: 2px;
  cursor: pointer;
  caret-color: black;
}

.edit-book-modal-body {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  position: relative;
  border-radius: 20px;
}

.edit-book-form-submit {
  color: white;
  font-size: 14px;
  font-weight: 600;
  display: block;
  align-self: center;
  width: 7rem;
  height: 100%;
  min-width: 10rem;
  background-color: #1e1915;
  cursor: pointer;
}
