.create-book-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  padding: 12px;
  border-radius: 25px;
  border-color: transparent;
  background-color: #1e1915;
  cursor: pointer;
  width: 7rem;
  transition: 0.2s ease;
}

.create-book-button:hover {
  background-color: rgba(39, 28, 20, 0.75);
}

.create-book-form {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  position: relative;
}

.create-book-form-title {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  /* padding-bottom: 20px; */
}

.create-book-form-errors-container {
  padding-bottom: 15px;
  color: red;
}

.create-book-form-label {
  font-size: 12px;
  font-weight: 800;
  color: #00635d;
}

.create-book-form-input {
  min-width: 300px;
  width: 500px;
  height: 40px;
  border-radius: 5px;
  margin: 5px 0px;
  background-color: transparent;
  border: 1px solid #484848;
}

.create-book-modal-body {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  position: relative;
  border-radius: 20px;
}

.create-book-form-submit {
  /* margin-top: 10px; */
  color: white;
  font-size: 14px;
  font-weight: 600;
  /* border-radius: 25px; */
  display: block;
  align-self: center;
  width: 7rem;
  height: 100%;
  min-width: 10rem;
  /* border: none; */
  background-color: #1e1915;
}
